// Import TWBS SaSS variables
@import "../../assets/vendor/bootstrap-sass/lib/_variables";
// --
// Essential colors
// --

// info (bluish)
$info: #2AADC7;
$info-light: #2AE7EA;
$info-dark: #2A92EA;
	
// success (greenish)
$success: #4EEA8F;
$success-light: #4EFF9C;
$success-dark: #4EC98F;

// warning (yellowish)
$warning: #FAEA47;
$warning-light: #FAEA77;
$warning-dark: #E5D64B;

// danger (reddish)
$danger: #E33147;
$danger-light: #600000;
$danger-dark: #F7504D;

// dark tints (blackish)
$dt: #1F1C1B;
$dt-light: #36312F;
$dt-dark: #121010;

// light tints (light)
$lt: #FFFFFF;
$lt-light: #F2F2F2;
$lt-dark: #E0E0E0;

// gray tints (gray)
$gr: #E6E6E6;
$gr-light: #FCFCFC;
$gr-dark: #C8C8C8;

// defaults
$default: $danger;
$default-light: $danger-light;
$default-dark: $danger-dark;





// --
// typography
// --
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$montserrat-font-family: "Montserrat", $base-font-family;
$source-sans-font-family: "Source Sans Pro", $base-font-family;

$font-size-base:          14px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$font-size-h1:            floor($font-size-base * 2.6) !default; // ~36px
$font-size-h2:            floor($font-size-base * 2.15) !default; // ~30px
$font-size-h3:            ceil($font-size-base * 1.7) !default; // ~24px
$font-size-h4:            ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~





// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;

$component-active-color:         #fff !default;
$component-active-bg:            $brand-primary !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;





// --
// btn
// --
$btn-base-height: 30px;





// -- 
// navbar
// --

// basics
$navbar-height:                    75px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border:                    none;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor($grid-gutter-width / 2);
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);

$navbar-plm-color:             $default !default;
$navbar-plm-bg:                $lt !default;
$navbar-plm-border:            none;

// Navbar links
$navbar-plm-link-color:                $default !default;
$navbar-plm-link-hover-color:          $default-light !default;
$navbar-plm-link-hover-bg:             transparent !default;
$navbar-plm-link-hover-border:         5px solid $default !default;
$navbar-plm-link-hover-border-transition: all 0.25s ease;
$navbar-plm-link-active-color:         #555 !default;
$navbar-plm-link-active-bg:            darken($navbar-plm-bg, 6.5%) !default;
$navbar-plm-link-active-hover-bg:      $default !default;
$navbar-plm-link-disabled-color:       #ccc !default;
$navbar-plm-link-disabled-bg:          transparent !default;

$navbar-plm-link-padding: floor($navbar-height / 3);

// Navbar brand label
$navbar-plm-brand-color:               $navbar-plm-link-color !default;
$navbar-plm-brand-hover-color:         darken($navbar-plm-brand-color, 10%) !default;
$navbar-plm-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-plm-toggle-hover-bg:           #ddd !default;
$navbar-plm-toggle-icon-bar-bg:        #ccc !default;
$navbar-plm-toggle-border-color:       #ddd !default;




// --
// countdown
// --
$countdown-bg: $default;
$countdown-height: 45px;
$countdown-text-color: $lt;
$countdown-text-size: 16px;
$countdown-text-extra-size: 14px;
$countdown-padding: floor($countdown-height / 4);




// --
// content
// --
$content-gray-bg: $gr;
$content-lt-bg: $lt;
$content-padding: 50px;

$content-heading-weight: 700;
$content-heading-color: $default;
$content-heading-margin-top: 0;
$content-heading-margin-bottom: 50px;
$content-border: 1px solid $default;





// -- 
// recent news (home)
// --
$recent-news-row-margin: 50px;
$recent-news-cover-height: 300px;
$recent-news-title-height: 50px;