// info (bluish)
$info: #600000;
$info-light: #600000;
$info-dark: #600000;

// success (greenish)
$success: #600000;
$success-light: #600000;
$success-dark: #600000;

// warning (yellowish)
$warning: #600000;
$warning-light: #600000;
$warning-dark: #600000;

// danger (reddish)
$danger: #600000;
$danger-light: #600000;
$danger-dark: #600000;

// dark tints (blackish)
$dt: #600000;
$dt-light: #600000;
$dt-dark: #600000;

// light tints (light)
$lt: #600000;
$lt-light: #600000;
$lt-dark: #600000;

// gray tints (gray)
$gr: #600000;
$gr-light: #600000;
$gr-dark: #600000;