// info (bluish)
$info: #2AADC7;
$info-light: #2AE7EA;
$info-dark: #2A92EA;

// success (greenish)
$success: #4EEA8F;
$success-light: #4EFF9C;
$success-dark: #4EC98F;

// warning (yellowish)
$warning: #FAEA47;
$warning-light: #FAEA77;
$warning-dark: #E5D64B;

// danger (reddish)
$danger: #E33147;
$danger-light: #600000;
$danger-dark: #F7504D;

// dark tints (blackish)
$dt: #1F1C1B;
$dt-light: #36312F;
$dt-dark: #121010;

// light tints (light)
$lt: #FFFFFF;
$lt-light: #F2F2F2;
$lt-dark: #E0E0E0;

// gray tints (gray)
$gr: #E6E6E6;
$gr-light: #FCFCFC;
$gr-dark: #C8C8C8;