@import "../util/_variables";

.content {
	background: $content-lt-bg;
	padding-top: $content-padding;
	padding-bottom: $content-padding;
	&.content-gray {
		background: $content-gray-bg;
	}

	.content-heading {

		& {
			margin-bottom: $content-heading-margin-bottom;
		}

		h1, h2, h3, h4, h5 {
			text-transform: uppercase;
			color: $content-heading-color;
			font-weight: $content-heading-weight;
			text-align: center;
			margin-top: $content-heading-margin-top;
		}

		&::after {
			content: "";
			border-bottom: 5px solid $default;
		}
	}
}