@import "../util/_variables";
@import "../../assets/vendor/bootstrap-sass/lib/_variables";

.navbar {
	// position: relative;
	height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
	border: $navbar-border;
	margin-bottom: 0;
}

.navbar-collapse {
	padding: 0; // Remove bootstrap default
}

.navbar-plm {
	background-color: $navbar-plm-bg;
	box-sizing: border-box;


	.navbar-brand {
		color: $navbar-plm-brand-color;

		&:hover,
		&:focus {
			color: $navbar-plm-brand-hover-color;
			background-color: $navbar-plm-brand-hover-bg;
		}
	}

	.navbar-text {
	color: $navbar-plm-color;
	}

	.navbar-nav {
		box-sizing: border-box;
		> li {
			& {
				height: $navbar-height;
			}

			&:not(.active):hover,
			&:not(.active):focus {
				box-sizing: border-box;
				border-top: $navbar-plm-link-hover-border;
				transition: $navbar-plm-link-hover-border-transition;
			}
		}
		> li > a {
			& {
				color: $navbar-plm-link-color;
				font-family: $montserrat-font-family;
				padding-top: $navbar-plm-link-padding;
				padding-bottom: $navbar-plm-link-padding;
			}

			&:hover,
			&:focus {
				color: $navbar-plm-link-hover-color;
				background: $navbar-plm-link-hover-bg;
			}
		}
		> .active {
			& {
				background-color: $navbar-plm-link-active-hover-bg;
			}
			> a {
				&,
				&:hover,
				&:focus {
					color: $lt;
				}
			}
		}
		> .disabled > a {
			& {
				color: $navbar-plm-link-disabled-color;
				background-color: $navbar-plm-link-disabled-bg;
			}
			&:hover,
			&:focus {
				
			}
		}
	}

	.navbar-toggle {
		border-color: $navbar-plm-toggle-border-color;
		&:hover,
		&:focus {
			background-color: $navbar-plm-toggle-hover-bg;
		}
		.icon-bar {
			background-color: $navbar-plm-toggle-icon-bar-bg;
		}
	}

	.navbar-collapse,
	.navbar-form {
		border-color: $navbar-plm-border;
	}

	// Dropdown menu items and carets
	.navbar-nav {
		// Caret should match text color on hover
		> .dropdown > a:hover .caret,
		> .dropdown > a:focus .caret {
			border-top-color: $navbar-plm-link-hover-color;
			border-bottom-color: $navbar-plm-link-hover-color;
		}

		// Remove background color from open dropdown
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: $navbar-plm-link-active-bg;
				color: $navbar-plm-link-active-color;
				.caret {
					border-top-color: $navbar-plm-link-active-color;
					border-bottom-color: $navbar-plm-link-active-color;
				}
			}
		}

		> .dropdown > a .caret {
			border-top-color: $navbar-plm-link-color;
			border-bottom-color: $navbar-plm-link-color;
		}


		@media (max-width: $screen-xs-max) {
			// Dropdowns get custom display when collapsed
			.open .dropdown-menu {
				> li > a {
					color: $navbar-plm-link-color;
					&:hover,
					&:focus {
						color: $navbar-plm-link-hover-color;
						background-color: $navbar-plm-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-plm-link-active-color;
						background-color: $navbar-plm-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-plm-link-disabled-color;
						background-color: $navbar-plm-link-disabled-bg;
					}
				}
			}
		}
	}


	// Links in navbars
	//
	// Add a class to ensure links outside the navbar nav are colored correctly.

	.navbar-link {
		color: $navbar-plm-link-color;
		&:hover {
			color: $navbar-plm-link-hover-color;
		}
	}

}