@import "../util/_variables";

.recent-events {

	& {
		position: relative;
	}

	.event-date {
		position: absolute;
		top: $recent-events-date-position-top;
		left: $recent-events-date-position-left;
		background: $recent-events-date-bg;
		width: $recent-events-date-width;
		height: $recent-events-date-height;
		box-sizing: padding-box;
		padding: $recent-events-date-padding;
		text-align: center;
		font-weight: $montserrat-font-family-bold;
		border-radius: $recent-events-border-radius;
		color: $lt;

		.date-day {
			display: block;
			font-size: $recent-events-date-font-size;
			margin: $recent-events-date-day-margin;
		}

		.date {
			text-transform: uppercase;
		}
	}

	.event-cover {
		height: $recent-events-height;
		width: 100%;
		border-radius: $recent-events-cover-border-radius;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.event-title {
		position: absolute;
		top: $recent-events-height - $recent-events-title-height;
		width: 100%;
		height: $recent-events-title-height;
		background: $recent-events-title-bg;
		box-sizing: padding-box;
		padding-top: $recent-events-title-padding;
		padding-bottom: $recent-events-title-padding;
		text-align: center;
		color: #fff;
		font-weight: 700;
		font-size: $recent-events-title-font-size;
		text-shadow: 0 1px 0 #000;
		border-radius: $recent-events-title-border-radius;
	}
}