@import "../util/_variables";

.news-first-row {
	margin-bottom: $recent-news-first-row-margin;

	@media (max-width: 768px) {
		margin-bottom: $mq-768-recent-news-first-row-margin;
	}
}

.recent-news {

	// &:nth-child {
	// &:nth-child(1),
	// &:nth-child(2),
	// &:nth-child(3) {
	// 	margin-bottom: $recent-news-row-margin;
	// }

	@media (max-width: 768px) {
		margin-bottom: $mq-768-recent-news-margin;
	}

	.row {
		.col-md-3,
		.col-md-9 {
			// padding-left: 0;
			// padding-right: $recent-news-title-padding;
		}
	}

	.news-category {

	}

	.news-date {

	}
	
	.news-cover {
		height: $recent-news-cover-height;
		width: 100%;
		overflow: hidden;
		background-color: $lt;
		border-radius: $recent-news-border-radius $recent-news-border-radius 0 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.news-title {
		& {
			height: $recent-news-title-height;
			width: 100%;
			background-color: $recent-news-title-bg;
			box-sizing: padding-box;
			padding-top: $recent-news-title-vertical-padding;
			padding-bottom: $recent-news-title-vertical-padding;
			border-radius: 0 0 $recent-news-border-radius $recent-news-border-radius;
			box-shadow: 0 2px 3px $shadow;
		}

		.news-head {
			font-weight: 700;
		}

		.news-icon-container {
			& {
				border-right: $recent-news-title-separator;
				font-size: $recent-news-title-icon-size;
				// margin-top: -2px;
				height: $recent-news-title-icon-height;
				padding-right: $recent-news-title-icon-padding;
			}

			.news-icon {
				// margin-top: -2px;
				vertical-align: top;
			}
		}
	}
}